html,
body {
  background-color:rgba(243, 15, 137, 0.783); 
  height: 100%;
}

button {
  background-color: rgb(216, 16, 146);
  color: #fff;
  border: none;
  width: 10em;
  padding: 10px;
  cursor: pointer;
}

button:hover{
  background-color: rgba(249, 30, 78, 0.811);
  color: black;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-floating{
  height: 150 px;
  
}

.conteneur{
  display: grid;
  gap: 10px;
  
}

.form-signin .form-floating:focus-within {
  z-index: 2;
  height: auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1{
  text-align: center;
  color: rgb(216, 16, 146);
  
}
